main {
  grid-column-start: 1;
  grid-row-start: 1;
  padding-left: 129px;
}
h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  margin-top: 111px;
  margin-bottom: 40px;
}
iframe {
  height: 577px;
  width: 100%;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 50px;
  margin-top: 23px;
  font-size: 30px;
  font-weight: bold;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.senales {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 66px;
  position: relative;
}
.senales-titulo {
  background-color: #ffc933;
  width: 401px;
  height: 193px;
  margin: 0 auto;
  border-radius: 16px;
  padding: 12px;
}
.senales-borde {
  border-radius: 16px;
  border: 5px solid #000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  padding: 49px 63px;
  text-align: center;
}
.senales-borde p {
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
}
.barra {
  width: 31px;
  height: 1300px;
  background: linear-gradient(
    270deg,
    rgba(212, 212, 212, 1) 0%,
    rgba(128, 128, 128, 1) 100%
  );
  left: 50%;
  translate: -50%;
}
.tarjeta {
  width: 428px;
  position: absolute;
}
.direccion {
  border: 5px solid #c2c2c2;
  width: 214px;
  padding: 15px 68px 12px 68px;
  display: flex;
  align-items: flex-start;
  font-size: 26px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  background-color: #05453a;
  color: #fff;
}
.direccion span {
  font-size: 18px;
  margin-left: 14px;
}
.tarjeta img {
  width: 100%;
}
.tarjeta-der {
  margin-left: 48px;
  left: 50%;
}
.tarjeta-izq {
  margin-right: 48px;
}

.tarj-der {
  margin-left: 48px;
  left: 46%;
}
.tarj-izq {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 51%;
}

/* numeros */
.uno {
  top: 100px;
}
.dos {
  top: 400px;
}
.tres {
  top: 700px;
}
.cuatro {
  top: 1000px;
}
.cinco {
  top: 1300px;
}
.seis {
  top: 1600px;
}
.siete {
  top: 1900px;
}
.ocho {
  top: 2200px;
}
.nueve {
  top: 2500px;
}

/*--2018---*/
.a2018-1 {
  top: 300px;
}
.a2018-2 {
  top: 600px;
}
.a2018-3 {
  top: 900px;
}

/*--2019---*/
.a2019-1 {
  top: 300px;
}
.a2019-2 {
  top: 600px;
}
.a2019-3 {
  top: 900px;
}
.a2019-4 {
  top: 1200px;
}
.a2019-5 {
  top: 1500px;
}
.a2019-6 {
  top: 1800px;
}
/*--2020---*/
.a2020-1 {
  top: 300px;
}
.a2020-2 {
  top: 600px;
}
.a2020-3 {
  top: 900px;
}
.a2020-4 {
  top: 1200px;
}
.a2020-5 {
  top: 1500px;
}
/*--2021---*/
.a2021-1 {
  top: 300px;
}
.a2021-2 {
  top: 600px;
}
.a2021-3 {
  top: 900px;
}
.a2021-4 {
  top: 1200px;
}
.a2021-5 {
  top: 1500px;
}
/*****************************Consecuencias*******************/
/*--------------------2021-----------------------------------*/
.a2021-1 {
  top: 300px;
}
.a2021-2 {
  top: 600px;
}
.a2021-3 {
  top: 900px;
}
.a2021-4 {
  top: 1200px;
}
.a2021-5 {
  top: 1500px;
}
.a2021-6 {
  top: 1800px;
}
.a2021-7 {
  top: 2100px;
}
.a2021-8 {
  top: 2400px;
}
.a2021-9 {
  top: 2700px;
}
.a2021-10 {
  top: 3000px;
}
.barra2021cau {
  height: 2800px;
}
.barra2021c {
  height: 3400px;
}

/*-------------------Barras-----------------------*/
.barra2018 {
  height: 1320px;
}
.barra2019 {
  height: 2150px;
}
.barra2020 {
  height: 1850px;
}
.barra2021 {
  height: 1850px;
}
footer {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}
@media (max-width: 1369px) {
  main {
    padding-left: 89px;
  }

  .contenedorGeneral {
    display: grid;
    grid-template-columns: auto 228px;
  }
  .tarjeta {
    width: 296px;
    position: absolute;
  }
  .tarjeta-der {
    margin-left: 15px;
    left: 50%;
  }
  .tarjeta-izq {
    margin-right: 17px;
  }
}
@media (max-width: 1100px) {
  main {
    padding-left: 40px;
  }
  h1 {
    margin-top: 40px;
  }
}
@media (max-width: 975px) {
  main {
    padding-left: 20px;
  }
  .barra {
    left: 0;
    z-index: -1;
    position: absolute;
  }
  .senales {
    align-items: flex-start;
  }
  .senales-titulo {
    margin: 0;
    margin-left: -38px;
  }
  .tarjeta {
    position: static;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .tarj-der {
    left: 0%;
    text-align: left;
    margin: 0;
    margin-left: 15px;
  }
  .tarj-izq {
    align-items: flex-start;
    left: 0%;
    margin-left: 15px;
  }
  .tarj-der p {
    padding-left: 14px;
    margin-left: 15px;
  }
  .tarj-izq p {
    padding-left: 14px;
  }
  .uno {
    top: 100px;
  }
  .dos {
    top: 600px;
  }
  .tres {
    top: 1100px;
  }
  .cuatro {
    top: 1600px;
  }
  .cinco {
    top: 2100px;
  }
  .seis {
    top: 2600px;
  }
  .siete {
    top: 3100px;
  }
  .ocho {
    top: 3600px;
  }
  .nueve {
    top: 4100px;
  }
}
@media (max-width: 690px) {
  main {
    padding-right: 20px;
    display: block;
  }
  .contenedorGeneral {
    display: grid;
    grid-template-columns: auto;
  }
  .senales-titulo {
    width: 110%;
  }
  h1 {
    margin-top: 80px;
    width: 100%;
  }
  .tarjeta {
    width: 95%;
  }
}
