main {
  grid-column-start: 1;
  grid-row-start: 1;
}
* {
  font-family: "Courier New", Courier, monospace;
}
.rojo {
  background-image: url(./IMG/sobreNosotros/fRojo.png);
  background-size: cover;
  height: 800px;
  position: relative;
  overflow-y: hidden;
}
.gris {
  background-image: url(./IMG/sobreNosotros/fGris.png);
  height: 800px;
  background-size: cover;
  position: relative;
}
.andres {
  padding-top: 35px;
}
.andres .titulo {
  background-image: url(./IMG/sobreNosotros/titulo.png);
  background-repeat: no-repeat;
  max-width: 992px;
  background-size: 992px 189px;
  padding-top: 70px;
  padding-right: 30px;
  height: 189px;
  margin-right: 17px;
  margin-left: 111px;
  font-weight: bold;
  font-size: 25px;
  text-align: right;
}
.info {
  margin-left: 111px;
  position: relative;
  margin-top: 40px;
}
.andres1 {
  background-image: url(./IMG/sobreNosotros/andres/andres1.png);
  width: 396px;
  height: 412px;
  position: absolute;
  top: 0;
  left: 500px;
  background-repeat: no-repeat;
}
.andres1 p {
  font-size: 20px;
  font-weight: bold;
  color: #881414;
  margin-top: 80px;
  width: 270px;
  margin-left: 100px;
}
.andres1 p:first-child {
  font-size: 27px;
  font-weight: bold;
  color: #000;
  margin-top: 56px;
  margin-left: 90px;
  rotate: -4deg;
}
.andres2 {
  background-image: url(./IMG/sobreNosotros/andres/andres2.png);
  width: 396px;
  height: 412px;
  position: absolute;
  top: 237px;
  left: 200px;
  background-repeat: no-repeat;
}
.andres2 p {
  width: 297px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 45px;
  margin-left: 50px;
}
.infoAndrew {
  padding-top: 49px;
  padding-left: 237px;
  position: relative;
}
.andrew1 {
  background-image: url(./IMG/sobreNosotros/andrew/Andrew1.png);
  width: 522px;
  height: 512px;
  position: absolute;
  top: 125px;
  left: 500px;
  background-repeat: no-repeat;
}
.andrew1 p:first-child {
  font-size: 30px;
  font-weight: bold;
  rotate: 2deg;
  color: #000;
  margin-top: 80px;
  margin-left: 160px;
}
.andrew1 .texto1 {
  color: #881414;
  font-size: 20px;
  font-weight: bold;
  rotate: 2deg;
  width: 353px;
  rotate: 0deg;
  text-align: right;
  margin-top: 100px;
  margin-left: 80px;
}
.andrew2 {
  background-image: url(./IMG/sobreNosotros/andrew/Andrew2.png);
  width: 524px;
  height: 324px;
  position: absolute;
  top: 400px;
  left: 200px;
  background-repeat: no-repeat;
}
.andrew2 p.texto2 {
  margin-top: 80px;
  margin-left: 130px;
  font-size: 20px;
  font-weight: bold;
  width: 353px;
  text-align: right;
}
.andrew2 p.texto3 {
  margin-top: 40px;
  margin-left: 60px;
  font-size: 20px;
  font-weight: bold;
  width: 353px;
  text-align: left;
}
.infoJose {
  margin-top: 66px;
  margin-left: 746px;
  position: relative;
}
.jose1 {
  background-image: url(./IMG/sobreNosotros/jose/jose1.png);
  width: 446px;
  height: 448px;
  position: absolute;
  top: 0px;
  left: -646px;
  background-repeat: no-repeat;
}
.jose1 p:first-child {
  font-size: 30px;
  font-weight: bold;
  rotate: -7deg;
  color: #000;
  margin-top: 80px;
  margin-left: 160px;
}
.jose1 .texto1 {
  font-size: 20px;
  font-weight: bold;
  rotate: 0deg;
  color: #881414;
  margin-top: 80px;
  margin-left: 150px;
  width: 270px;
}
.jose2 {
  background-image: url(./IMG/sobreNosotros/jose/jose2.png);
  width: 575px;
  height: 506px;
  position: absolute;
  top: 207px;
  left: -381px;
  background-repeat: no-repeat;
}
.jose2 .texto2 {
  font-size: 20px;
  width: 265px;
  font-weight: bold;
  rotate: 0deg;
  color: #000;
  margin-top: 120px;
  margin-left: 100px;
}
.jose2 .texto3 {
  font-size: 20px;
  width: 245px;
  font-weight: bold;
  rotate: 0deg;
  color: #000;
  margin-top: 80px;
  margin-left: 210px;
  text-align: right;
}

/* Soto*/
.infoSoto {
  padding-top: 71px;
  margin-left: 403px;
  position: relative;
}
.infoSoto img {
  position: absolute;
  z-index: 2;
}
.soto1 {
  background-image: url(./IMG/sobreNosotros/soto/soto1.png);
  width: 446px;
  height: 448px;
  position: absolute;
  top: 209px;
  left: -400px;
  background-repeat: no-repeat;
  z-index: 3;
}
.soto1 p:first-child {
  font-size: 30px;
  font-weight: bold;
  rotate: 2deg;
  color: #000;
  margin-top: 70px;
  margin-left: 110px;
}
.soto1 .texto1 {
  font-size: 20px;
  font-weight: bold;
  rotate: 0deg;
  color: #881414;
  margin-top: 80px;
  margin-left: 49px;
  width: 325px;
}
.soto2 {
  background-image: url(./IMG/sobreNosotros/soto/soto2.png);
  width: 690px;
  height: 424px;
  position: absolute;
  top: 366px;
  left: 0px;
  background-repeat: no-repeat;
}
.soto2 .texto2 {
  font-size: 20px;
  width: 265px;
  font-weight: bold;
  rotate: 0deg;
  color: #000;
  margin-top: 110px;
  margin-left: 357px;
}
.soto2 .texto3 {
  font-size: 20px;
  width: 432px;
  font-weight: bold;
  rotate: 0deg;
  color: #000;
  margin-top: 10px;
  margin-left: 122px;
  text-align: left;
}

/*Yury*/
.infoYury {
  margin-top: 100px;
  margin-left: 339px;
  position: relative;
}
.yury1 {
  background-image: url(./IMG/sobreNosotros/yury/yury1.png);
  width: 446px;
  height: 448px;
  position: absolute;
  top: 108px;
  left: 288px;
  background-repeat: no-repeat;
}
.yury1 p:first-child {
  font-size: 30px;
  font-weight: bold;
  rotate: -7deg;
  color: #000;
  margin-top: 80px;
  margin-left: 160px;
}
.yury1 .texto1 {
  font-size: 20px;
  font-weight: bold;
  rotate: 0deg;
  color: #881414;
  margin-top: 80px;
  margin-left: 150px;
  width: 270px;
}
.yury2 {
  background-image: url(./IMG/sobreNosotros/yury/yury2.png);
  width: 575px;
  height: 506px;
  position: absolute;
  top: 359px;
  left: -61px;
  background-repeat: no-repeat;
}
.yury2 .texto2 {
  font-size: 20px;
  width: 265px;
  font-weight: bold;
  rotate: 0deg;
  color: #000;
  margin-top: 90px;
  margin-left: 180px;
  text-align: right;
}
.yury2 .texto3 {
  font-size: 20px;
  width: 353px;
  font-weight: bold;
  rotate: 0deg;
  color: #000;
  margin-top: 60px;
  margin-left: 60px;
  text-align: left;
}

@media (min-width: 1500px) {
  .info {
    margin-left: 300px;
  }
  .andres .titulo {
    margin-left: 300px;
  }
  .infoAndrew {
    margin-left: 160px;
  }
  .infoJose {
    margin-left: 800px;
  }
  .infoSoto {
    margin-left: 500px;
  }
}
@media (min-width: 1600px) {
  .infoJose {
    margin-left: 900px;
  }
  .infoSoto {
    margin-left: 500px;
  }
}
@media (min-width: 1700px) {
  .infoJose {
    margin-left: 900px;
  }
  .infoSoto {
    margin-left: 700px;
  }
  .infoYury {
    margin-left: 500px;
  }
}
